body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:bisque;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
  
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: Wix Madefor Display;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#question{
    font-size: x-large;
    font-family: Wix Madefor Display;
}

.btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Wix Madefor Display;
}

.btn:hover {
    background-color: #4d4d4d;
}

.btn:active {
    background-color: #a9a9a9;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Wix Madefor Display;
}

.correct {
    background-color: #28a745;
}

.wrong {
    background-color: #dc3545;
}
